@using Vacation_System.ServiceReference
@using Web_Service
@model IEnumerable<Vacation_System.ServiceReference.RolesMirror>

@{
    Layout = "~/Views/AccountPage/Layout.cshtml";
    ViewBag.Title = "Roles";
    var empleado = (Session["User"] as Empleado);
    ServiceClient service = new ServiceClient();
    var permisos = service.LoadPermisosData();
    
    service.Close();
}

@using (Html.BeginForm())
{
    <div class="clearfix"></div>

    <script>
        var row;
        $(document).ready(function () {
            row = $('#example').dataTable({
                columnDefs: [{
                    targets: [0],
                    orderData: [0, 1]
                }, {
                    targets: [1],
                    orderData: [1, 0]
                }, ]
            });
        });

        function fnClickAddRow() {
            //Add here dynamic Mysql values
     
                $('#addmodal').modal('hide');
            row.fnAddData([@Model.Count()+1, document.getElementById("Descripcion").value, document.getElementById("editbutton").innerHTML]);

        }

        function fnClickEditRol() {
                $('#editmodal').modal('hide');
        }
    </script>

    <table id="example" class="display" cellspacing="0" width="100%">

        <thead>
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Permisos</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Descripcion</td>
                    @foreach(var perm in empleado.Permisos)
                    {
                        if (perm.PermisosId == (int)PermisosEnum.EditarRol)
                        {
                            <td id="editbutton">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmodal">Editar</button>
                            </td>

                            break;
                        }
                    }

                </tr>

            }       

        </tbody>
    </table>
    <!--Modify Access Modal-->
    <div id="editmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Permisos</h3>
                </div>
                <div class="modal-body">
                    @*<input type="checkbox" name="permisos" value="createuser"> Crear Usuario
                        <input type="checkbox" name="permisos" value="moduser"> Modificar Usuario
                        <input type="checkbox" name="permisos" value="transmitter"> Crear Peticiones
                        <input type="checkbox" name="permisos" value="acceptor"> Aceptar Peticiones
                        <input type="checkbox" name="permisos" value="profileviewer"> Ver Perfiles*@

                    <div class="container" style="width:500px; height: 250px; overflow-y: scroll;">
                        @foreach (var p in permisos)
                        {
                            <input type="checkbox" id=@p name='permisos' value="profileviewer"> @p
                            <br />
                        }

                        <input type="checkbox" onclick="toggle(this)" /> Seleccionar Todos<br />

                        <script language="JavaScript">
                            function toggle(source) {
                                checkboxes = document.getElementsByName('permisos');
                                for (var i = 0, n = checkboxes.length; i < n; i++) {
                                    checkboxes[i].checked = source.checked;
                                }

                            }
                        </script>


                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <a onclick="fnClickEditRol();" class="btn btn-primary">Guardar Cambios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!--Add Rol Modal-->

    <div id="addmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Roles</h3>
                </div>
                <div class="modal-body">
                    <input type="text" id="Descripcion" name="Descripcion" placeholder="Nombre" />
                    <h3>Permisos</h3>
                    @*<input type="checkbox" name="permisos" value="createuser"> Crear Usuario
                        <input type="checkbox" name="permisos" value="moduser"> Modificar Usuario
                        <input type="checkbox" name="permisos" value="transmitter"> Crear Peticiones
                        <input type="checkbox" name="permisos" value="acceptor"> Aceptar Peticiones
                        <input type="checkbox" name="permisos" value="profileviewer"> Ver Perfiles*@
                    <div class="container" style="width:500px; height: 250px; overflow-y: scroll;">
                        @foreach (var p in permisos)
                        {
                            <input type="checkbox" id=@p name="permisos" value="profileviewer"> @p
                            <br />

                        }

                        <input type="checkbox" onclick="toggle(this)" /> Seleccionar Todos<br />
                        <script language="JavaScript">
                            function toggle(source) {
                                checkboxes = document.getElementsByName('permisos');
                                for (var i = 0, n = checkboxes.length; i < n; i++) {
                                    checkboxes[i].checked = source.checked;
                                }

                            }
                        </script>
                        </div>
                    </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>

                    <input type="submit" name="submit" id="submit" onclick="fnClickAddRow();" value="Guardar" class="btn btn-primary" />

                </div>
            </div>
        </div>
    </div>

    <br />
<div>
    @foreach (var permiso in empleado.Permisos)
    {
        if (permiso.PermisosId == (int)PermisosEnum.CrearRol)
        {
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addmodal">Agregar Rol</button>
            break;
        }
    }
</div>
     
    
}

 


